main {
  position: relative;
}

.p-static {
  position: static;
  height: 5rem;
  /* top, bottom, left e right */
  top: 10rem;
  left: 50%;
}

.p-relative {
  position: relative;
  top: -2rem;
  margin: 0 4rem;
}

.p-absolute {
  position: absolute;
  top: 0;
  right: 0;
}

.p-fixed {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.p-sticky {
  position: sticky;
  top: 0;
}